/* Basic styling */

/*Colors:
    #262323
    #403939
    #6C6060
    #FFF2F2
    #EB2828
*/
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  font-family: "Segoe UI", sans-serif;
  background: #262323;
  color: #FFF;
  border: 1px solid #403939;
  overflow-y: hidden;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255,255,255,0.4);
}

/* Styling of window frame and titlebar */

#renderer {
  margin-top: 32px;
  overflow: hidden;
}

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  background-color: #403939;
  color: #FFF;
  box-shadow: 0px 4px 4px #222020;
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: grid;
  grid-template-columns: auto 138px;
  
}

#window-title {
  grid-column: 1;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#atlas-logo {
    margin-right: 10px;
    height: 32px;
    width: 32px;
    background-color: #EB2828;
    align-content: center;
    justify-content: center;
}

#atlas-logo .icon {
    width: 24px;
    height: 24px;
    margin: 4px;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

#window-controls .icon {
    width: 12px;
    height: 12px;
}

#window-controls .button:hover {
  background: #6C6060;
}

#window-controls .button:active {
  background: #FFF2F2;
}

#close-button:hover {
  background: #EB2828 !important;
}

#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

/*     Scrollbar    */
/* Width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #403939; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: #262323; 
}
